header {
    text-align: center;
    color: #69DFD2;
    font-family: 'Expletus Sans', cursive;
    font-size: 35px;
    background-color: #000;
    padding: 20px;
}

h2 {
    font-family: 'Expletus Sans', cursive;
    text-align: center;
    font-size: 30px;
    margin: 2em;
    padding: 20px;
}

h3 {
    font-family: 'Expletus Sans', cursive;
    font-size: 160px;
    text-decoration: underline;
    padding: 20px 0px 5px 10px;
    margin: 1em;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px 0 2px 0 ;
}

/* #caption {
    border: 3px solid green;
    caption-side: bottom;
    text-align: center;
    margin: 2em;
    
} */

p {
    font-family: 'Fira Sans', sans-serif;
    color: #000;
    margin: 3em;
}

figcaption{
    font-family: 'Fira Sans', sans-serif;
    color: #000;
    text-align: center;
    font-size: 10px;
    
}

nav {
    font-family: 'Fira Sans', sans-serif;
    color: #000;
}

a:link,
a:visited {
    color: #4ba299d0;
}

main {
    background-color: #eee;
    margin: 0 0 3em 0;
}

body {
    background-color: #eee;
    
}

/* .infogram-embed {
    width: 400px;
    align-items: center;
    display: block;
    padding: 10px 0 20px 0;

} */

ul{
    margin: 3em;
    font-family: 'Fira Sans', sans-serif;
    color: #000;
}

.embed{
    margin: 0 auto;
    display: block;
    max-width: 550px;
}

footer{
    background-color: #000;
    font-family: 'Expletus Sans', cursive;
    text-align: center;
    color: #69DFD2;
    
}

iframe{
    margin: 0 auto;
    display: block;
    max-width: 550px;
    padding: 15px 0 15px 0;
}

.column{
    float: left;
    width: 50%;
    text-align: center;
    background-color: #eee;
    padding: 0 0 20px 20px;
}
.column p{
    text-align: justify;
    line-height: 10pxpx;
}
.column ul{
    font-size: 14px;
    text-align: left;
}

.column a{
    align-items: center;
    padding: 5px 0;
}

html{
    background-color: #eee;
}