.topnav {
    text-align: center;
    background-color: #F4F5F8;
    overflow: hidden;
    font-family: 'Poppins';
    font-weight: 1000;
   
}

footer {
    font-family: 'Work Sans';
    font-weight: lighter;
    color: #000;
    /* margin: 20px 100px 100px; */
    opacity: 0.45;
    font-size: smaller;
}

header {
    font-family: 'Work Sans';
    text-align: center;
    padding: 0 0 25px 0;
    background-color: #F4F5F8;
    max-width: 1280px;
}

.col{
    /* max-width: 640px; */
    margin: auto;
}

header h1,
h2 {
    display: block;
}

header h2 {
    font-size: 1em;
    text-align: center;
    font-family: 'Work Sans';
}

header h2 {
    font-size: smaller;
    font-size: 1em;
    text-align: center;
    font-family: 'Work Sans';
}

header h1 {
    font-size: larger;
    font-weight: bolder;
}

a:link {
    color: #1DB954;
    text-decoration: none;
}

body {
    background-color: #F4F5F8;
    color: #152128;
    font-family: 'Literata';
}

body p{
    padding: 5px 0 5px 0;
    font-family: 'Literata';
    font-size: 15px;
    margin: 10px 100px;
    line-height: 20px;
}

h3 {
    text-align: center;
    font-family: 'Work Sans';
    text-transform: uppercase;
}

body h1 h2 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Work Sans';
    text-transform: uppercase;
}

body h4 {
    font-size: small;
    text-align: center;
    font-family: 'Work Sans';
    text-transform: uppercase;
}

blockquote {
    background-color: #EAEAEA;
    padding: 50px 0 50px 0;
    max-width: 1280px;
}

.charts {
    background-color: #EAEAEA;
    margin: auto;
}
.charts-90s {
    background-color: #EAEAEA;
    margin: auto;
}

.chart-script {
    text-align: center;
    margin-right: 10em;
    background-color: #EAEAEA;
    font-family: 'Work Sans';
}

@media (max-width: 414px) {
    footer {
        margin: 10px 75px 75px;
    }

    .chart-script {
        text-align: center;
        width: 414px;
        height: auto;
    }
    blockquote {
        background-color: #EAEAEA;
        padding: 50px 0 50px 0;
        max-width: 414px;
    }
    header h1,
    h2 p {
        display: block;
        text-align: center;
        line-height: 20%;
        margin: 0 30px 0 30px;
    }
   .col{
        line-height: 50%;
    }

    .charts {
        width: 414px;
        height: auto;
    }

    .img-fluid {
        width: 414px;
        height: auto;
    }
    .col {
        width: 414px;
    }
    body p{
        margin:5px 20px
    }
}

@media (max-width: 768px) {
    .chart-script {
        text-align: center;
        width: 768px;
        height: auto;
    }

    blockquote {
        background-color: #EAEAEA;
        padding: 50px 0 50px 0;
        width: 768px;
    }

    .charts {
        width: 768px;
        height: auto;
    }
}